<h1>Compte: <%= @user.name %></h1>
<p>Adresse mail: <%= @user.email %></p>
<strong>Photo de Profil:</strong>
<%= image_tag @user.image.url %>|
<%= link_to 'Edit', edit_user_path(@user),class: "btn btn-warning" %> |

