<header>
    <nav class="navbar navbar-light bg-cyan p-3">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Instagram</span>

            <div class="">
                <%= link_to 'Instagram', new_post_path , class: "btn btn-outline-primary"%>
                <%= link_to 'View all posts', posts_path , class: "btn btn-outline-secondary"%>
            </div>
        </div>
    </nav>
</header>